<header>
    <div class="container">
        <div class="logo">
            <a href="/index.html">
                <img src="/assets/images/logo.png" alt="unit." style="height: 100px; width: auto; display: block;">
                <span style="display: none;">Unit</span>
            </a>
        </div>
        <nav>
            <a href="/products/index.html">Products</a>
            <a href="/about.html">About</a>
            <a href="/work.html">Work with us</a>
            <a href="/support.html">Support</a>
            <a href="/contact.html">Contact</a>
        </nav>
    </div>
</header>